html {
    scroll-behavior: smooth; 
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    box-sizing: border-box;
}

.Headingcontainer {
    width: 90%;            
    max-width: 1500px;      
    margin: 0 auto;        
    padding: 20px 0;       
}

.header {
    border-bottom: 1px solid #e9ecef;
    font-size: 30px;
    font-weight: bold;
    color: #1e293b;
}

body {
    font-family: 'Arial', sans-serif;
    color: #1e293b;               
    background-color: #e2e8f0;  
    font-size: 20px; 
}
.subheading {
    font-size: 25px;
    font-weight: bold;
    color: #1e293b;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.button-container {
    text-align: center; 
    margin: 20px 0;     